{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
<div class="tab-content">
    <div class="tab-pane fade in active adminTable" id="links">
        {% if links %}
        <div class="table-responsive">
            <table class="table table-condensed table-responsive">
                <thead>
 <!--********************************************* the start of pagination ******************************* --> 
                    <tr> <!-- button for switch page are in top of table -->
                    <nav aria-label="pagination-navigation"  class= "text-center">
                        <ul class="pagination">
                        {% if page_Active>1 %}
                            <li class="page-item"><a class="page-link" href="{{ path('admin', { 'id': (page_Active-1)}) }}">Previous</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        {% endif %}
                        {% for nb_page in 1..nb_pages%}
                            {% if page_Active != nb_page %} 
                                <li class="page-item"><a class="page-link" href="{{ path('admin', { 'id': (nb_page)}) }}">{{nb_page}}</a></li>
                            {% else %} 
                            
                                <li class="page-item active"><a class="page-link" href="{{ path('admin', { 'id': (nb_page)}) }}">{{nb_page}}</a></li>
                            {% endif %} 
                        {% endfor %}
                        {% if page_Active != nb_pages %} 
                            <li class="page-item"><a class="page-link" href="{{ path('admin', { 'id': (page_Active+1)}) }}">Next</a></li>
                        {% else %} 
                            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                        {% endif %} 
                        </ul>
                    </nav>
                    </tr>
 <!--********************************************* the end of pagination ******************************* -->               
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Description</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                </thead>
                {% for link in links %}
                <tr>
                    <td><a class="linkTitle" href="{{ path('link', { 'id': link.id }) }}">{{ link.title }}</a></td>
                    <td>{{ link.user.username }}</td>
                    <td>{{ link.desc | truncate(60) }}</td>
                    <td>
                        <a href="{{ path('admin_link_edit', { 'id': link.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#linkDialog{{ link.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="linkDialog{{ link.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to delete this link ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <a href="{{ path('admin_link_delete', { 'id': link.id }) }}" class="btn btn-danger">Confirm</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% endfor %}
            </table>

        </div>
        {% else %}
        <div class="alert alert-warning">No links found.</div>
        {% endif %}


    </div>
    


    <div class="tab-pane fade adminTable" id="users">
        {% if users %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                </thead>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</a></td>
                    <td>
                        <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#userDialog{{ user.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="userDialog{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to delete this user ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <a href="{{ path('admin_user_delete', { 'id': user.id }) }}" class="btn btn-danger">Confirm</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">No users found.</div>
        {% endif %}
    </div>
</div>
{% endblock %}
