{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

	<div class="row">
		{% for link in links %}
		<div class="col-md-4 text-center ">
				<div class="panel panel-default bootcards-media mb-3">
				<div class="panel-heading">
			    <h2><a class="" href="{{ path('link', { 'id': link.id }) }}">{{ link.title }}</a>
		 		{% if app.user and is_granted('ROLE_ADMIN') %}
				<a href="{{ path('admin_link_edit', { 'id': link.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
		        {% endif %}
				</h2>
				</div>
				<p class="panel-body">{{ link.desc }}</p>
				<div>
			    <a class="btn btn-primary" href="{{ link.url }}" title="" target="_blank">Open</a>
				</div>
			    <em>(by {{ link.user.username }})</em>
				<div>
			    {% for tag in link.tags %}
			    	<a class="" href="{{ path('tag', { 'id': tag.id }) }}" title="Filtrer">
			    	 {{ tag.title }}
			    	</a>	
			    {% endfor %}
				</div>  
				</div>
				<br>
			</div>
		{% endfor %}
	</div>
{% endblock %}
