<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/style.css" rel="stylesheet">
    <title>Watson - {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <h3><a class="sidebar-brand" id="logo" href="{{ path('home') }}">Watson</a></h3>

        <ul class="list-unstyled components">
            <li class="{% if adminMenu is not defined %}active{% endif %}">
                <a href="{{ path('home') }}"> <span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
        {% if app.user and is_granted('ROLE_ADMIN') %}
            {% if adminMenu is defined %}
            <li class="{% if adminMenu is defined %}active{% endif %} dropdown">
                <a href=" {% if adminSubMenu is defined %} {{ path('admin', { 'id': '1' }) }} {% else %} # {% endif %}">
                    <span class="glyphicon glyphicon-cog"></span> Administration
                </a>
                {% if adminSubMenu is not defined %}
                <ul>
                    <a id="subadmin"><li style="cursor:pointer;" href="#links" data-toggle="tab"><span class="glyphicon glyphicon-tasks"></span>        Links</li></a>
                {% endif %}
                </ul>
                <ul>
                    <a id="subadmin" href="{{ path('admin_link_add') }}"><li><span class="glyphicon glyphicon-plus"></span>        Add link</li></a>
                </ul>
                {% if adminSubMenu is not defined %}
                <ul>
                    <a id="subadmin"><li style="cursor:pointer;" href="#users" data-toggle="tab"><span class="glyphicon glyphicon-briefcase"></span>        Users</li></a>
                </ul>
                {% endif %}
                <ul>
                    <a id="subadmin" href="{{ path('admin_user_add') }}"> <li><span class="glyphicon glyphicon-plus"></span>        Add user</li></a>
                    </ul>
            </li>
            {% else %}
            <li class="dropdown">
                <a href="{{ path('admin', { 'id': '1' }) }}">
                    <span class="glyphicon glyphicon-cog"></span> Administration
                </a>
            </li>
            {% endif %}
        {% endif %}
        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span> Welcome, {{ app.user.username }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out"> </span>     Logout</a></li>
                </ul>
            </li>
        {% else %}
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="btn glyphicon glyphicon-user"></span> Not connected <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span>   Login</a></li>
                </ul>
            </li>
        {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-fixed-bottom">
        
        </ul>
        <ul class="nav navbar-nav navbar-fixed-bottom ">
           <a href="{{path('frss')}}" id="rss"> <img src="{{app.request.basepath}}/images/rss-snow.png" height="20" width="20"></img> RSS</a>
        </ul>
        <p> Watson - Made with love by CvTIC <br>
           and his students <p>
    </nav>

</div>
<div id="content">{% block content %}{% endblock %}</div>
    
    <!-- jQuery -->
    <script src="{{ app.request.basepath }}/lib/jquery/jquery.min.js"></script>
    <!-- JavaScript Boostrap plugin -->
    <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

        
