{% extends "layout.html.twig" %}

{% block title %}{{ link.title }}{% endblock %}

{% block content %}
<div class="panel panel-default bootcards-media mb-3 text-center">
<div class="panel-heading">
    <h2>{{ link.title }}</h2>
</div>
    <p class="panel-body">{{ link.desc }}</p>
    <div>
    <a class="btn btn-primary" href="{{ link.url }}" title="" target="_blank">Open</a>
    </div>
    <div>
    <em>(by {{ link.user.username }})</em>
    </div>

    {% for tag in link.tags %}
    	<a href="{{ path('tag', { 'id': tag.id }) }}" title="Filtrer">
    		{{ tag.title }}
    	</a>
    {% endfor %}
        </div>
        		 		{% if app.user and is_granted('ROLE_ADMIN') %}
<div class="text-center">
     <a href="{{ path('admin_link_edit', { 'id': link.id }) }}" class="btn btn-info btn-lg" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-lg" title="Delete" data-toggle="modal" data-target="#linkDialog{{ link.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="linkDialog{{ link.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to delete this link ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <a href="{{ path('admin_link_delete', { 'id': link.id }) }}" class="btn btn-danger">Confirm</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                        		        {% endif %}

</div>
{% endblock %}
