{% extends "layout.html.twig" %}

{% block title %}Résultat(s) pour "{{ tag.title }}" {% endblock %}

{% block content %}
	<div class="row">
	<div class="panel panel-default bootcards-media mb-3">
	<div class="panel-heading">
		<h1>Résultat(s) associé(s) au tag "{{ tag.title }}"</h1>
		</div>
		<div class="panel-body">
		{% if links|length <= 0 %}
			<p>
				Aucun résultat ne correspond au tag "{{ tag.title }}".
			</p>
		{% else %}
			<div class="row">
			{% for link in links %}
				<div class="col-md-4 text-center">
				<div class="panel panel-default bootcards-media mb-3">
				<div class="panel-heading">
				    <h2><a class="linkTitle" href="{{ path('link', { 'id': link.id }) }}">{{ link.title }}</a></h2>
					</div>
				    <p class="panel-body">{{ link.desc }}</p>
					<div>
				    <a class="btn btn-primary" href="{{ link.url }}" title="" target="_blank">Open</a>
					</div>
					<div>
				    <em>(by {{ link.user.username }})</em>
					</div>
				    {% for tag in link.tags %}
				    	<a href="{{ path('tag', { 'id': tag.id }) }}" title="Filtrer">
				    		{{ tag.title }}
				    	</a>
				    {% endfor %}
				</div>
				</div>
			{% endfor %}
		{% endif %}
		<div>
	</div>	</div>
{% endblock %}
